@media (min-width:992px){

    #navbar-logo{
        max-width: 15%;
    }

    .logo {
        width:100%!important;
    }
    
    .login_btn.custom{
        position: relative;
        bottom: 8px;
    }

    .section-header p.custom.limit-width {
        width: 670px;
        margin: 0 auto 25px;
    }

}

@media (max-width:767px) {
    .logo {
        width: 144px!important;
    }

    .car-box {
        display: none!important;
    }
}

@media (min-width: 768px) {

    .car-title-m a:not(.store_info) {
        font-size: 18px!important;
    }

}

.section-header {
    padding: 0px 15px 15px;
}

.section-header p.custom {
    font-size: 16px;
}

.section-header h2.custom {
    font-size: 3.5rem;
    font-weight: 300;
}

.section-header h2.custom span {
    font-weight: 500;
}

.form-label.price-tag{
    font-size: 1.6rem;
    font-weight: 700;
}

.btn .fa.custom {
    margin-bottom: 5px;
}

.mt-12 {
    margin-top: 12px;
}

.mb-24 {
    margin-bottom: 24px;
}

.logo .logo-image {
    width: 100%;
}

.header_style2 .navbar-nav ,
.header_style2 .header_wrap,
.header_style2 .header_search{
    margin-top: .8rem;
}

.header_style2 .user_login,
.header_style2 .login_btn {
    float: right;
}

.header_style2 .header_search .search-bar-input{
    background: #111;
}

.header_style2 .header_search .search-bar-input::placeholder,
.header_style2 .header_search .search-bar-input:focus,
.header_style2 .header_search button i {
    color: #fff;
}

.promo_tag {
    position: absolute;
    top: 10px;
    left: 8px;      
}

.promo_tag .promo_label.deal {
    background: #20DB45;
}

.promo_tag .promo_label.popular {
    background: #D30A00;
}

.promo_tag .promo_label.new {
    background: #3949ab;
}

.promo_tag .promo_label {
    margin: 0 6px!important;
    color: #fff;
    font-size: 13.5px;
    padding: 2px 6px;
    border-radius: 2px;
    font-weight: 550;
}

.car-title-m .price_info .old_price{
    display: block;
    width: 100%;
    text-align: right;
}

.car-title-m a:not(.store_info) {
    color: #111;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    display: block;
    margin-bottom: 6px;
}

.car-title-m a.store_info {
    font-size: 14px;
    color: #555;
    transform: all ease-in .3s;
}

.car-title-m a.store_info:hover {
    color: #3949ab;
}

.recent-car-list{
    text-align: center;
}

.car-title-m {
    border-bottom: 1px solid #f0f0f0;
    padding: 18px 7px 15px;
}

.inventory_info_m  {
  
}

.inventory_info_m .box-price,
.product-listing-content .box-price {
    position: relative;
    margin-top: 22px;
}

.inventory_info_m .box-price .price,
.product-listing-content .box-price .price {
    font-size: 22px;
    font-weight: 700;
    color: #3949ab;;
    width: 100%;
    display: block;
}

.product-listing-content .box-price .old_price {
    position: absolute;
    width: 100%;
    display: block;
    top: -16px;
}

.inventory_info_m .box-price .old_price {    
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
    top: -16px;
}

.box-price .old_price {
    text-decoration: line-through;
    color: #111;
    font-weight: 500;
    font-size: 14px;
}

.read_btn  a.btn{
    border-radius: 0 0 5px 5px!important;
}

.fun-facts-header {
    text-align: center;
    margin-bottom: 6rem;
}

.fun-facts-header h2 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 36px;  
    font-weight: 600;
    margin: 0 auto 12px;
}

.fun-facts-header span.sub-title {
    color: #3949ab;;
    font-weight: bolder;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 8px;
    padding-top: 8px;
}

.fun-facts-text {
    text-align: center;
    margin-top: 1.3em;
}

.fun-facts-text p {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.color-blue {
    color: #3949ab;;
}

.bg-blue {
    background-color: #3949ab;;
}

select {
    cursor: pointer;
}

.section-header h2 {
    margin-bottom: 18px;
}

h2.color-blue :not(span) {
    color: #3949ab;;
}

.fw-600 {
    font-weight: 600!important;
}

.pr-12 {
    padding-right: 12px;
}

.owl-item img.img-responsive.custom {
    max-height: 100px;
}

.product-listing-img .rental_info {
    position: absolute;
    bottom: 0;
    background: #111;
    width: 100%;
    padding: 12px;
    text-align: center;
    transition: all ease-in .1s;
    opacity: .8;
}

.product-listing-img .rental_info .store_info {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.product-listing-img .rental_info:hover {
    background: #111;
    opacity: .9;
}

.mt-30 {
    margin-top: 30px;
}

.old_price {
    text-decoration: line-through;
}

p.price {
    font-weight: 700;
}

span.select2.select2-container.select2-container--default {
    width: 100%!important;
}

span.select2-selection.select2-selection--single {
    background: #222;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #222;
    font-size: 17px;
    padding: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    position: absolute;
    top: 8px;
    left: 10px;
    color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px!important;
    right: 10px;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.select2-container--default .select2-results>.select2-results__options {
    background: #222;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #283593;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #555;
}

.select2-results__option[aria-selected] {
    color: #999;
}

.dealer_detail .rental_logo {
    width: 230px;    
    margin: 0 auto;
    text-align: center;
}

.dealer_detail .rental_name {
    text-align: center;
    margin-bottom: 12px;
}

.dealer_detail img {
    height: 130px;
    margin: 0 auto;
}

textarea {
    resize: vertical!important;
}

.price_table {
    width: 100%;
    float: left;
    margin-bottom: 32px;
    padding: 0 14px;
}

.price_table .price_row {
    font-size: 16px;
}

.price_table .price_row:first-child{
    width: 70%;
    float: left; 
}

.price_table .price_row:last-child {
    width: 30%;
    float: right;
}

.price_table .price_row:first-child span.price {
    width: 100%;
    display: block;
}

.price_table .price_row:last-child span {
    float: right;
    font-weight: 500;
    color: #111;
}

.total_table {
    width: 100%;
    float: left;
    padding: 0 14px;
    margin-bottom: 18px;
}

.total_table .total_row:first-child {
    width: 60%;
    float: left;
}

.total_table .total_row:last-child {
    width: 40%;
    float: right;
}

.total_table .total_row {
    font-size: 20px;
    color: #3949ab;
    font-weight: 700;
}

.total_table .total_row:last-child span {
    float: right;
}

.widget_heading .car_image {
    max-width: 100%;
    height: auto;
}

.form_review {
    padding: 24px 10px;
    width: 100%;
    float: left;
}

.form_review .car_name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

.form_review .pickup_table {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.form_review .pickup_table .pickup_row {
    width: 50%;
    float: left;    
}

.form_review .pickup_table .pickup_row .title {
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    display: block;
    margin-bottom: 4px;
}

.form_review .pickup_table .pickup_row .date,
.form_review .pickup_table .pickup_row .time {
    width: 100%;
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
}

.promo_code {
    float: left;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 24px;
}

.promo_code .head_title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
    display: block;
}

.promo_code .head_title i {
    color: #3949ab;
}


.promo_code input[type="text"] {
    width: 70%;
    float: left;
    padding: 6px 12px;
    margin: 0;
    border-radius: 3px 0 0 3px;
    border-left: 1px solid #dcd9d9;
    border-top: 1px solid #dcd9d9;
    border-bottom: 1px solid #dcd9d9;
    border-right: 0px;
}

.promo_code input[type="button"] {
    width: 30%;
    float: left;
    padding: 6px 12px;
    margin: 0;
    border-left: 0px;
    border-right: 1px solid #3949ab;
    border-top: 1px solid #3949ab;
    border-bottom: 1px solid #3949ab;
    border-radius: 0 3px 3px 0;
    background: #3949ab;
    color: #fff;
}

.promo_code input[type="button"]:hover {
    background: #283593;
}

